<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <p>Powered with <i class="fa fa-heart pulse" style="color: #74f"></i> by <a href="https://bazz1.com">Bazz</a></p>
    </section>
</section>
